<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo1.css">
    <link rel="stylesheet" href="estilo.css">
</head>
<header>
    <h1>Viajes "El pata de perro"</h1>
    <nav>
        <ul>
            <li><a href="https://www.google.com/"> Google</a></li>
            <li><a href="https://pueblacapital.gob.mx/noticias"> Noticias  </a> </li>
            <li><a href="https://espanol.yahoo.com/"> Yahoo </a></li>
            <li><a href="http://www.utpuebla.edu.mx/"> Utpuebla </a></li>
            <li><a href="https://sicea.utpuebla.edu.mx/">SICEA</a> </li>
        </ul>
    </nav>
</header>